################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/.vs
/Contents/x64/Debug
/The_Binding_Of_Isaac_Engine/x64/Debug
/Engine/x64/Debug
/Tool/x64/Debug
/x64/Debug
/Engine/x64/Release
/x64/Release
