################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/.vs
/Contents/x64/Debug
/The_Binding_Of_Isaac_Engine/x64/Debug
/Engine/x64/Debug
/Tool/x64/Debug
/x64/Debug
/Engine/x64/Release
/x64/Release
/Main/x64
/Project/Client/x64/Debug
/Project/Engine/x64/Debug
/Project/Client/unity_G0Z2FE20042CTZBJ.cpp
/Project/Client/unity_ZMLCVC60V52K1ALS.cpp
/External/Include/json
/Project/Client/unity_GMZT8NG6GYDLVR3L.cpp
/Project/Client/unity_Q9W8IIMT265MUZXM.cpp
/Project/Scripts/x64/Debug
